<h1>aaviel</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    {{#each post}}
    <a href="{{this.url}}" class="lead">{{this.title}}</a>
    <p>{{this.summary}}</p>
    {{/each}}
  </div>
</div>